* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans";
}
/* Banner Styles */
.banner {
  background-image: url(images/banner/banner1.png);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
}
.banner-container {
  text-align: right;
  padding: 250px;
  margin-left: 500px;
}
.banner-title {
  color: #151414;
  font-weight: 700;
  font-size: 65px;
  margin-bottom: 23px;
}
.banner-description {
  color: #696868;
  margin-bottom: 30px;
}
.primary-btn {
  padding: 15px;
  background: #fa4807;
  color: white;
  border-radius: 5px;
  border: 0;
}
/* my-failures styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.my-failures {
  display: flex;
  gap: 90px;
  margin-top: 100px;
}
.failures-img {
}
.failures-text {
  padding-top: 250px;
}
.failures-title {
  color: #151414;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 25px;
}
.failures-description {
  color: #696868;
  margin-bottom: 24px;
}
.failures-text ul {
  list-style: none;
}
.failures-text ul li {
  margin-bottom: 13px;
  color: #696868;
}
.failures-text ul li i {
  color: #1cff45;
}
/* My Plan styles*/
.my-plans {
  margin-top: 100px;
}
.section-title {
  text-align: center;
  color: #151414;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 70px;
}
.plan-container {
  display: flex;
  gap: 140px;
  text-align: center;
}
.plan-title {
  margin-bottom: 12px;
  margin-top: 22px;
  font-weight: 700;
  font-size: 24px;
  color: #151414;
}
.plan-description {
  color: #737272;
  font-weight: 500;
  font-size: 16px;
}
/* Call Now styles */
.call-now {
  margin-top: 120px;
  background-image: linear-gradient(to left, #00000085, #ff6600e1),
    url(images/watch.png);
  opacity: 4;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: auto;
}
.call-container {
  padding-top: 70px;
  padding-left: 50px;
}
.call-title {
  color: #fff;
  font-weight: 700;
  font-size: 35px;
  padding-right: 550px;
  margin-bottom: 20px;
}
.common-btn {
  padding: 15px 25px;
  color: tomato;
  background: #fff;
  border: 0;
  border-radius: 5px;
}
/* Find us styles */
.find-section {
  padding-top: 50px;
  padding-bottom: 10px;
  width: 100%;
  background: #ffffff;
  margin-top: 80px;
}
.social-title {
  text-align: center;
  color: #151414;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 15px;
  
}
.social-icons {
  text-align: center;
}
.social-icons i {
  width: 60px;
  font-size: 68px;
  margin: 50px 12px;
  padding: 15px 20px 15px 15px;
  background: #f2f0f0;
  border-radius: 50%;
  text-align: center;
}
/* Footer section styles */
.footer-section {
  background-color: #000;
  margin-top: 100px;
}
.footer-container {
  display: flex;
  margin: 0 auto;
  max-width: 1140px;
  padding-top: 100px;
  padding-bottom: 80px;
}
.footer-title {
  font-weight: 600;
  font-size: 40px;
  color: #fff;
  margin-bottom: 25px;
}
.footer-description {
  color: #fff;
  margin-right: 500px;
  margin-bottom: 15px;
  color: #ffffff;
}
.future-item a {
  text-decoration: none;
  padding-right: 10px;
}
.subcribe-item input {
  height: 41px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #9a9393;
  background: #000;
  padding-left: 20px;
  margin-bottom: 12px;
}
.footer-subscribe-title {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  margin-bottom: 25px;
}
